#map {
    height: 250px;
    width:250px;
}
p {
    color: rgb(0, 0, 255);
}
body {
    background-color: black;
}

img {
    width: 25%;
    max-width: 200px;
    margin: 0% 3% 0% 3%;
    border-radius: 10%;
    transition: transform .25s;
}
img:hover {
    transform: scale(1.5);
}
.punainenH1 {
    color: red;
    display: inline;
}
.harmaaH1 {
    color: gray;
    display: inline;
}
h1 {
    font-family: monospace;
    font-style: normal;
}

#divOtsikko{
    text-align: center;
}
.divKeskitetty {
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 0px;
}
